@{
    ViewBag.Title = "Home";
}

<div id="home-page">
    <section class="header main-hero-image">
        <div class="main-hero-text">
            <h1 class="hero-heading">Apply for an Online Banking account today</h1>
            <p>Safe and secure banking from your home</p>
            <div class="spacer"></div>
            <a href="/account/register" class="btn btn-main"><i class="fa-solid fa-arrow-right-to-bracket"></i> Register</a>
        </div>
    </section>

    <section class="">
    </section>

    <section class="products-section">
        <div class="row">
            <div class="col-md-4">
                <div class="product-item">
                    <h4>Current Accounts</h4>
                    <i class="fa-solid fa-sterling-sign"></i>
                    <div class="spacer"></div>
                    <p>Apply for a current account with many benefits and rewards</p>
                    <a href="/account/register" class="btn btn-main">Find out more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-item">
                    <h4>Credit Accounts</h4>
                    <i class="fa-solid fa-credit-card"></i>
                    <div class="spacer"></div>
                    <p>Apply for a credit card at low interest rate of %19.00 APR</p>
                    <a href="/account/register" class="btn btn-main">Find out more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-item">
                    <h4>Saving Accounts</h4>
                    <i class="fa-solid fa-piggy-bank"></i>
                    <div class="spacer"></div>
                    <p>Apply for a savinga account and save your money at no cost</p>
                    <a href="/account/register" class="btn btn-main">Find out more</a>
                </div>
            </div>
        </div>
    </section>

    <section class="confidence-hero-image">
        <div class="confidence-hero-text">
            <h1 class="hero-heading">Safe and secure banking from your home</h1>
            <p>An easy and secure way to bank how you want, where you want and when you want.</p>
            <p>It makes managing your money simpler.</p>
            <div class="spacer"></div>
            <a href="/account/login" class="btn btn-main"><i class="fa-solid fa-lock"></i> Login Securely</a>
        </div>
    </section>

    <section class="home-news-links">
        <h4>Latest News</h4>

        <div class="spacer"></div>
        <a href="#" class="main-link">Link</a>
        <div class="spacer"></div>
        <a href="#" class="main-link">Link</a>
        <div class="spacer"></div>
        <a href="#" class="main-link">Link</a>
        <div class="spacer"></div>
        <a href="#" class="main-link">Link</a>
        <div class="spacer"></div>
        <a href="#" class="main-link">Link</a>
    </section>

</div>