@{
    ViewBag.Title = "Home";
}

<div id="home-page">
    <div class="hero-image">
        <div class="hero-text">
            <h1>Apply for an Online Banking account today</h1>
            <p>Safe and secure banking from home</p>
            <div class="spacer"></div>
            <button class="btn btn-main">Register</button>
        </div>
    </div>
</div>