
@{
    ViewBag.Title = "Help Center";
}

<div id="help-center-page">
    <h2 class="page-heading">Help Center</h2>
    <div class="spacer"></div>
    <section class="products-section">
        <div class="row">
            <div class="col-md-4">
                <div class="product-item">
                    <h4>Current Accounts</h4>
                    <i class="fa-solid fa-sterling-sign"></i>
                    <div class="spacer"></div>
                    <p>Apply for a current account with many benefits and rewards</p>
                    <a href="/account/register" class="btn btn-main">Find out more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-item">
                    <h4>Credit Accounts</h4>
                    <i class="fa-solid fa-credit-card"></i>
                    <div class="spacer"></div>
                    <p>Apply for a credit card at low interest rate of %19.00 APR</p>
                    <a href="/account/register" class="btn btn-main">Find out more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-item">
                    <h4>Saving Accounts</h4>
                    <i class="fa-solid fa-piggy-bank"></i>
                    <div class="spacer"></div>
                    <p>Apply for a savinga account and save your money at no cost</p>
                    <a href="/account/register" class="btn btn-main">Find out more</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="product-item">
                    <h4>Current Accounts</h4>
                    <i class="fa-solid fa-sterling-sign"></i>
                    <div class="spacer"></div>
                    <p>Apply for a current account with many benefits and rewards</p>
                    <a href="/account/register" class="btn btn-main">Find out more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-item">
                    <h4>Credit Accounts</h4>
                    <i class="fa-solid fa-credit-card"></i>
                    <div class="spacer"></div>
                    <p>Apply for a credit card at low interest rate of %19.00 APR</p>
                    <a href="/account/register" class="btn btn-main">Find out more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-item">
                    <h4>Saving Accounts</h4>
                    <i class="fa-solid fa-piggy-bank"></i>
                    <div class="spacer"></div>
                    <p>Apply for a savinga account and save your money at no cost</p>
                    <a href="/account/register" class="btn btn-main">Find out more</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="product-item">
                    <h4>Current Accounts</h4>
                    <i class="fa-solid fa-sterling-sign"></i>
                    <div class="spacer"></div>
                    <p>Apply for a current account with many benefits and rewards</p>
                    <a href="/account/register" class="btn btn-main">Find out more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-item">
                    <h4>Credit Accounts</h4>
                    <i class="fa-solid fa-credit-card"></i>
                    <div class="spacer"></div>
                    <p>Apply for a credit card at low interest rate of %19.00 APR</p>
                    <a href="/account/register" class="btn btn-main">Find out more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-item">
                    <h4>Saving Accounts</h4>
                    <i class="fa-solid fa-piggy-bank"></i>
                    <div class="spacer"></div>
                    <p>Apply for a savinga account and save your money at no cost</p>
                    <a href="/account/register" class="btn btn-main">Find out more</a>
                </div>
            </div>
        </div>
    </section>
</div>

