@model OnlineBanking.Data.Models.Customer

@{
    ViewBag.Title = "Dashboard";
}

<div id="account-dashboard">
    <h2 class="page-heading">Overview of Accounts - @Model.Firstname</h2>
    <br />
    <br />

    <section id="current-accounts-section-container account-section">
        <div class="row">
            <div class="col-md-12">
                <div class="account-item">
                    <div class="account-item-details">
                        <h4 class="account-name-text">Current Account</h4>
                        <div class="spacer"></div>
                        <small>Available Balance</small>
                        <h4 class="account-balance-text">£252.90</h4>
                        <div class="spacer"></div>
                        <small>Current Balance</small>
                        <h4 class="account-balance-text">£252.90</h4>
                        <div class="spacer"></div>
                        <div class="account-cta-btn">
                            <button class="btn btn-main">Make Payment</button>
                        </div>
                        <div class="spacer"></div>
                        <div class="account-cta-btn">
                            <button class="btn btn-main">View Account</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="top-block">
                            <span class="card-account">
                                Current Account
                            </span>
                        </div>
                        <div class="card-number">
                            <p>5459 xxxx xxxx 7203</p>
                        </div>
                        <div class="bottom-block">
                            <div class="card-details">
                                <div>20965422 00-00-00</div>
                                <div class="card-name">
                                    MR JULIEN SMITH
                                </div>
                            </div>
                            <div class='card-icon'>
                                <span class='circle-left'>
                                    <i class="icon-circle icon-3x "></i>
                                </span>
                                <i class="icon-circle icon-3x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="spacer"></div>

    <section id="current-accounts-section-container account-section">
        <div class="row">
            <div class="col-md-12">
                <div class="account-item">
                    <div class="account-item-details">
                        <h4 class="account-name-text">Credit Account</h4>
                        <div class="spacer"></div>
                        <small>Credit Limit</small>
                        <h4 class="account-balance-text">£6000.00</h4>
                        <div class="spacer"></div>
                        <div class="spacer"></div>
                        <small>Available Balance</small>
                        <h4 class="account-balance-text">£5500.00</h4>
                        <div class="spacer"></div>
                        <small>Current Balance</small>
                        <h4 class="account-balance-text">£500.00</h4>
                        <div class="spacer"></div>
                        <div class="account-cta-btn">
                            <button class="btn btn-main">View Account</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="top-block">
                            <span class="card-account">
                                Credit Account
                            </span>
                        </div>
                        <div class="card-number">
                            <p>5459 xxxx xxxx 7203</p>
                        </div>
                        <div class="bottom-block">
                            <div class="card-details">
                                <div>20965422 00-00-00</div>
                                <div class="card-name">
                                    MR JULIEN SMITH
                                </div>
                            </div>
                            <div class='card-icon'>
                                <span class='circle-left'>
                                    <i class="icon-circle icon-3x "></i>
                                </span>
                                <i class="icon-circle icon-3x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

