
@{
    ViewBag.Title = "Settings";
}

<div id="settings-page">
    <div class="messages-container">
        <h2 class="page-heading">Settings</h2>

        <div class="spacer"></div>

        <div class="alert alert-warning">
            <strong>Info!</strong> Ensure you supply the correc credentials for your account.
        </div>

        <div class="spacer"></div>

        <div class="settings-form-container">

        </div>

    </div>
</div>