
@{
    ViewBag.Title = "Transactions";
}

<div id="transactions-page">
    <h2 class="page-heading">Choose an account to view transactions</h2>
    <br />

    <div class="transaction-list-container">
        <div class="current-account-header">
            <div class="current-account-details">
                <h2>Current Account</h2>
                <p>Jeremy Olu</p>
                <p>Account Number: 20964321 Sort Code: 00-00-00</p>
                <div class="spacer"></div>
                <a href="#" class="btn btn-main">View Transactions</a>
            </div>
            <div class="current-account-balances">
                <h4>Current Balance: £350.00</h4>
                <h4>Available Balance: £350.00</h4>
            </div>
        </div>
        <br />
        <div class="current-account-header">
            <div class="current-account-details">
                <h2>Credit Account</h2>
                <p>Jeremy Olu</p>
                <p>Account Number: 29865433 Sort Code: 00-00-00</p>
                <div class="spacer"></div>
                <a href="#" class="btn btn-main">View Transactions</a>
            </div>
            <div class="current-account-balances">
                <h4>Current Balance: £3250.00</h4>
                <h4>Available Balance: £3250.00</h4>
            </div>
        </div>
    </div>
    <div class="spacer"></div>
    <a href="/account/dashboard" class="btn btn-main" style="float: right;">Back to Accounts</a>
</div>

