<div class="container">
    <div class="footer-content">
        <div class="row">
            <div class="col-md-4">
                <h5>About Online Banking</h5>
                <hr />
                <ul>
                    <li><a href="/account/about">About</a></li>
                    <li>@Html.ActionLink("About", "about", "account", new { }, null)</li>
                    <li>News</li>
                    <li><a href="/account/register">Register</a></li>
                    <li><a href="/account/login">Login</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Products & Services</h5>
                <hr />
                <ul>
                    <li>Current Accounts</li>
                    <li><a href="/account/loans">Loans</a></li>
                    <li>Saving Accounts</li>
                    <li>Credit Cards</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Get In Touch</h5>
                <hr />
                <ul>
                    <li>Contact</li>
                    <li>Mobile Banking</li>
                    <li>Careers</li>
                    <li>Test Accounts</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <hr />
        <div class="ft">
            <p>Developed by JO</p>
            <div class="footer-icons">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-youtube"></i>
            </div>
        </div>
    </div>
</div>