<div class="container">
    <div class="footer-content">
        <div class="row">
            <div class="col-md-4">
                <h5>About Online Banking</h5>
                <hr />
                <ul>
                    <li>About</li>
                    <li>News</li>
                    <li><a href="/account/register">Register</a></li>
                    <li><a href="/account/login">Login</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Products & Services</h5>
                <hr />
                <ul>
                    <li>Current Accounts</li>
                    <li>Loans</li>
                    <li>Saving Accounts</li>
                    <li>Credit Cards</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Get In Touch</h5>
                <hr />
                <ul>
                    <li>Contact</li>
                    <li>Mobile Banking</li>
                    <li>Careers</li>
                    <li>Developer Accounts</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <hr />
        <div class="ft">
            <p>Developed by JO</p>
            <p>Icons</p>
        </div>
    </div>
</div>